# Android
android/.gradle/
android/local.properties
android/**/build/
*.jks
*.keystore

# Windows / Electron
windows/node_modules/
windows/release/
windows/dist/
*.log

# OS / editor
.DS_Store
Thumbs.db
.idea/
*.iml
